.DS_Store
.env
### https://raw.github.com/github/gitignore/2a4de265d37eca626309d8e115218d18985b5435/community/Python/JupyterNotebooks.gitignore

# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/
